.penguin  {
  
	--penguin-skin: black;
	--penguin-2skin: white;
	--penguin-beak: orange;
	
      
      
	position: relative;
	margin: auto;
	display: block;
	margin-top: 3%;
	width: 400px;
	height: 400px;
      }
      
      .penguin-top {
	top: 10%;
	left: 25%;
	background: var(--penguin-skin, gray);
	width: 60%;
	height: 55%;
	border-radius: 80% 80% 70% 70%;
      }
      
      .right-cheek {
	top: 15%;
	left: 35%;
	background: var(--penguin-2skin, white);
	width: 60%;
	height: 70%;
	border-radius: 80% 80% 70% 70%;
      }
      
      .left-cheek {
	top: 15%;
	left: 5%;
	background: var(--penguin-2skin, white);
	width: 60%;
	height: 70%;
	border-radius: 80% 80% 70% 70%;
      }
      .right-eye {
	top: 40%;
	left: 60%;
	background: black;
	width: 15%;
	height: 17%;
	border-radius: 50%;
      }
      
      .left-eye {
	top: 40%;
	left: 25%;
	background: black;
	width: 15%;
	height: 17%;
	border-radius: 50%;
      }
      
      .eyeball {
	top: 25%;
	left: 15%;
	background: white;
	width: 40%;
	height: 40%;
	border-radius: 50%;
      }
      
      .blush-right {
	top: 65%;
	left: 15%;
	background: #F88379;
	width: 17%;
	height: 9%;
	border-radius: 50%;
      }
      
      .blush-left {
	top: 65%;
	left: 70%;
	background: #F88379;
	width: 17%;
	height: 9%;
	border-radius: 50%;
      }
      
      .beak-top {
	top: 55%;
	left: 40%;
	background: var(--penguin-beak, orange);
	width: 22%;
	height: 9%;
	border-radius: 50%;
      }
      
      .beak-bottom {
	top: 60%;
	left: 42%;
	background: var(--penguin-beak, orange);
	width: 18%;
	height: 10%;
	border-radius: 50%;
      }
      
      body {
	background:#ADD8E6;
      }
      
      .penguin * {
	position: absolute;
      }
      